.whatsapp-icon {
    display: flex;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.icon {
    width: 100px;
    justify-content: center;
}

.icon-link{
    color: transparent;
}

@media (max-width: 768px) {
    .whatsapp-icon {
        display: none;
    }
}