.whatsapp-icon {
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 2;
}

.icon {
    width: 80px;
    justify-content: center;
}

.icon-link{
    color: transparent;
}

@media (max-width: 768px) {
    .whatsapp-icon {
        bottom: 60px;
        right: 20px;
    }
    .icon {
        width: 60px;
    }
}

@media (max-width: 425px) {
    .whatsapp-icon {
        right: 10px;
    }
}