.whatsapp-icon {
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 40px;
}

.icon {
    width: 80px;
    justify-content: center;
}

.icon-link{
    color: transparent;
}

@media (max-width: 768px) {
    .whatsapp-icon {
        display: none;
    }
}