@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title-container-about-us {
  display: flex;
  height: 10rem;
  width: 100%;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}

.background-about-us {
  background-color: #E9E9E9;
  box-shadow: 15px 15px 15px #00000029;
  position: relative;
  opacity: 1;
  display: flex;
  width: 27rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.title-about-us {
  font-family: Nunito Sans;
  font-weight: bold;
  color: black;
  position: absolute;                                                                                                                    
  left: 3.5rem;
  z-index: 10;
  top: 0.1rem;
}

.subtitle-about-us {
  font-family: Nunito Sans;
  font-size: 1.5rem;
  position: absolute;
  margin: 0;
}

.owner-picture {
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 35rem;
  box-shadow: 15px 15px 15px #00000029;
}

.information-container-about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-text {
  font-family: Nunito Sans;
  font-size: 2rem;
  width: 33rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.values-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-value {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;
}

.values-icons {
  width: 15rem;
}

.values-text {
  font-family: Nunito Sans;
  width: 26rem;
  flex-wrap: wrap;
  font-size: 2rem;
  text-align: center;
}

@media(min-width: 1024px) {
  
   #about-us {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 68% 100%, 30% 95%, 0% 100%);
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  .background-about-us {
    width: 33rem;
    height: 6rem;
  }

  .title-container-about-us {
    padding-bottom: 2rem;
  }

  .title-about-us {
    font-size: 3.5rem;
    left: 6rem;
    top: -0.5rem;
  }

  .subtitle-about-us {
    font-size: 2rem;
    align-self: center;
  }

  .information-container-about-us {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .owner-picture {
    align-self: unset;
    width: 34%;
  }

  .text-and-values {
    width: 66%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about-us-text {
    font-size: 1.8rem;
    width: 90%;
  }
 
  .values-container {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }

  .each-value {
    width: 15rem;
  }

  .values-icons {
    width: 13rem;
  }

  .values-text {
    font-size: 1.5rem;
    width: 16rem;
  }

}

@media (min-width:1200px) {
  .values-container {
    width: 65rem;
  }

  .values-text {
    width: 20rem;
  }
}