.footer-session {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.footer-session-social {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.footer-session-social div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-session-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-session-adm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-session-citi{
    display: flex;
    align-items: center;
}