h1{
    font-size: 70px;
}
.contatc-session{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contact-session img{
    width: 40%;
}
.contact-session-form {
    width: 60%;
    background-color: teal;

}