body, html, section, div, h1, form, input, button { 
    margin: 0;
    padding: 0;
}

.contact-title {
    align-self: flex-start;

    padding-bottom: 75px;

    font: 700 3.4rem Nunito Sans;
    color: #e4e4e4;
    text-transform: uppercase;
}
.contact-session {
    width: 100%;
    height: 110vh;

    display: flex;
    flex-direction: row;

    background-color: #000000;

}
.contact-session-form {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1B1B1B;
}

form {
    width: 80%;
    position: relative;
}

.first-line-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nome {
    width: 40%;
}

.telefone {
    width: 40%;
}

input {
    width: 100%;

    font: 400 1.9rem Nunito Sans;
    color: #e4e4e4;

    background: transparent;
    border: none;
    border-bottom: 2px solid #e4e4e4;
    margin-bottom: 20px;

    cursor: text;
    outline: none;
}

input::placeholder {
    font-family: Nunito Sans;
    font-size: 1.8rem;
    color: #e4e4e4b2;
    font-weight: 400;
}

.meeting-dropdown {
    font-family: Nunito Sans;
    font-size: 1.8rem;
    color:   #e4e4e4;

    background: transparent;
    border: transparent;
    border-bottom: 2px solid #e4e4e4;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;

    cursor: pointer;
    outline: transparent;
}

.option-meeting {
    background-color: #1B1B1B;
    color: #e4e4e4;
    
    font-size: 1.5rem;
    width: 100%;
}

.message{
    font-family: Nunito Sans;
    font-size: 1.8rem;
    font-weight: 400;

    resize: none;
    outline: none;

    background-color: transparent;
    color: #e4e4e4;
    border: none;
    border-bottom: 2px solid #e4e4e4;

    width: 100%;
}

.submit {
    width: 30%;
    height: 10%;

    float: right;

    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    color: #000000;
    background: #FFFFFFCC;

    cursor: pointer;

    margin-top: 1.5rem;
}

.contact-session-secondary {
    width: 40%;
    height: 100%;

    background-color: #000000;
    background-image: url(./contact-image.png);
    background-position: center;
    background-size: cover;
    opacity: 0.5;

    box-shadow: 15px 15px 5px #00000029;
}

@media (max-width: 768px){
    html {
        font-size: 40%;
    }
    .contact-session {
        height: 75vh;
    }

    .first-line-contact {
        flex-direction: column;
    }
    
    .nome {
        width: 100%;
    }
    
    .telefone {
        width: 100%;
    }

    .contact-session-form {
        width: 100%;
        height: 100%;
        background-color: #000000;
    }

    .contact-session-secondary {
        display: none;
    }

    .submit {
        align-self: center;
    }
    
    input {
        margin-bottom: 10px;
    }

    .contact-title {
        align-self: center;
        padding-left: 0px;
        padding-bottom: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}
