body, html, header{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.nav-bar {
    width: 100vw;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #000000;
}

.nav-bar-menu {
    display: flex;

    font: 600 1.6rem Nunito Sans;
    
    text-transform: uppercase;

    list-style: none;
}

.nav-bar-menu li {
    padding: 1rem;
}

.nav-bar-menu li a {
    text-decoration: none;
    color: #CBCBCB;
}

.nav-bar-menu li a:hover {
    opacity: 0.8;
}

p {
    font-size: 50rem;
}

@media (max-width: 650px) {
    nav {
        display: none;
    }
    .one,
    .two,
    .three {
        background-color: #CBCBCB;
        height: 4px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    .menu-session.on {
        width: 70vw;
        height: 100vh;

        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 10;

        background-color: #000000;
        opacity: 0.9;
    }
    .menu-session.on nav {
        display: block;
    }
    .menu-session.on .menu-toggle {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 15px;
    }
    .menu-session.on .menu-toogle .three {
        transform: scaleX(0.5);
    }
    .menu-session.on .nav-bar-menu {
        text-align: center;
        display: block;
    }
    .menu-session.on .nav-bar-menu a {
        transition: 0.5s
    }
    .menu-session.on .nav-bar-menu li {
        padding: 2rem;
    }
}